*{
    text-decoration: none;
}
.logo{

    color:white;
    font-size: 20px;


}
.header{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: crimson;
    color:white;
    align-items: center;
}

li{
    margin-right: 20px;
    display: inline-block;
    list-style-type: none;
    list-style: none;
}
li a{
    color:white;
    font-size: 18px;
    font-family: sans-serif;
    margin-right: 20px;
}
.profile img{
    width:200px;
    height:200px;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
}
.profile{
    /* background: rgb(36, 18, 18); */
    margin-top:28px;
    display:flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}
.p-text{
    color:red;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
}
.About img{
    width:150px;
    height:150px;
}
.About{
    background-color: blue;
    display: flex;
    flex-direction: row;
}
h3{
    font-family: sans-serif;
    color:red;
}



    

